<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (currentUser) { %>
      <div class="form-horizontal float-right">
        <body>Logged in as: <%= currentUser.name %></body>
        <span class="pull-right">
          <form method="POST" action="/logout">
            <button type="logout" class="btn btn-outline-dark btn-sm">Logout</button></form>
          </span>
      </div>
    <% } else { %>
    <form method="GET" action="/login">
      <div class="text-right">
        <button type="submit" class="btn btn-outline-dark btn-sm">Login</button>
      </div>
    </form>
    <form method="GET" action="/register">
      <div class="text-right">
        <button type="submit" class="btn btn-outline-dark btn-sm">Register</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>